@tailwind base;
@tailwind components;
@tailwind utilities;

.StrokeTextHero {
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    color: transparent;
}
.StrokeTextHeroColor {
    color: #F2F2F2;
}